 



<div class="form-group">
 <label>Enter special password here:</label>
  <input id="special-input" class="form-control"></input>
</div>

  <div class="form-group">
  	<button  class="btn btn-primary" onclick="validate();" >Submit</button>
  </div>


 <script type="text/javascript">
		 function validate() {
		 	user_input = document.getElementById('special-input').value
		 	window.location = "/permissions/" + user_input
		 }	
 </script>