<h2>Edit notifications</h2>

<%= render "form.html", changeset: @changeset,
                        action: notifications_path(@conn, :update, @notifications) %>

<%= link "Back", to: notifications_path(@conn, :index) %>
