
<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	</head>

	
	<nav class="navigation">
		<div class="nav-links">
			<div class="title">
				Cornerstone <span style="color: #5397ae;">Baptist Church<span>
			</div>
			<div class="links">
				<ul class="topnav" id="myTopnav">
				  <li><a href="#home">Home</a></li>
				  <li><a href="#news">News</a></li>
				  <li><a href="#contact">Contact</a></li>
				  <li><a href="#about">About</a></li>
				  <li class="icon">
				    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
				  </li>
				</ul>
			</div>

			<script type="text/javascript">
								function myFunction() {
				    var x = document.getElementById("myTopnav");
				    if (x.className === "topnav") {
				        x.className += " responsive";
				    } else {
				        x.className = "topnav";
				    }
				}
			</script>

		</div>
	</nav>


	<body>
			 <%= render @view_module, @view_template, assigns %>
	</body>


<footer>
		<div>&copy; 2017, Cornerstone Baptist Church</div>
	
 </footer>


 <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>