
<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</head>

	
	<nav class="navigation">
		<div class="nav-links">
			
			<div class="title" onclick="location.href='/'; " style="cursor: pointer;">
				Cornerstone <span style="color: #5397ae;">Baptist Church<span>
			</div>
			
			<div class="links">
				<ul class="topnav" id="myTopnav">
				  <li class="icon">
				    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
				  </li>
				  <li><a href="/about">About</a></li>
				  <li><a href="/ministries/children">Ministries</a></li>

					<%= if logged_in?(@conn) do %>
				  		<%= if access_requests(@conn) do %>
				  			<li><a href="/prayer_requests">Prayer Requests</a></li>
				  		<%= else %>
				  			<li><a href="/permissions">Prayer Requests</a></li>
				  		<% end %>
				  		<li><a href="<%= user_path(@conn, :show) %>">My Account</a></li>
				    <% end %>


				   <%= if logged_in?(@conn) do %>
				   		<div class="mobile-login">
						   	<li> 
						   		<%= link "Logout", class: "btn btn-default btn-xm", to: session_path(@conn, :delete), method: :delete %>
						   	</li>
					   	</div>
				   <%= else %>
					    <div class="mobile-login">
						    <li><%= link "Login",    to: "/login" %></li>
			              	<li><%= link "Register", to: register_path(@conn, :new) %></li>
		              	</div>
	              	<% end %>


				</ul>
				
			</div>

		</div> <!-- end of nav links -->

			<script type="text/javascript">
				function myFunction() {
				    var x = document.getElementById("myTopnav");
				    if (x.className === "topnav") {
				        x.className += " responsive";
				    } else {
				        x.className = "topnav";
				    }
				}
			</script>

		<div class="login-logout">
			<ul class="nav nav-pills ">
	             <%= if logged_in?(@conn) do %>
	              <div class="username">Welcome,
	              	<span><%= current_user(@conn).email %></span>
	              </div>
	              <li class="logout-button" style="float: right;"> <%= link "Logout", class: "btn btn-default btn-xm", to: session_path(@conn, :delete), method: :delete %></li>
	            <% else %>
	              <li><%= link "Login",    to: "/login" %></li>
	              <li><%= link "Register", to: register_path(@conn, :new) %></li>
	            <% end %>
	      </ul>
		</div>

	</nav><!-- end of navigation -->






	<body>
		<section class="module content">

		  <div class="spacer"></div>
		  
		  <div class="my-container">
		  		<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      			<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

				<%= render @view_module, @view_template, assigns %>
		    </div>
		</section>
	</body>





</html>